/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: column;  /* Cela place les éléments verticalement (les cartes puis la table) */
    padding: 20px;
    color: #000;  /* Couleur générale du texte en noir */
  }
  
  .dashboard-container > * {
    margin-bottom: 30px;  /* Espace entre les éléments */
  }
  