.profile-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: -60px auto 10px;
  width: 90%;
  height: 100%;
}

.profile-details-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80%;
}

.profile-details {
  flex-wrap: wrap; /* Les éléments passent à la ligne si l'espace est trop petit */
  width: 100%;
}

h1 {
  color: black;
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
  .profile-details {
    flex-direction: column; /* Les blocs se mettent en colonne sur les petits écrans */
  }
  
  .profile-details-block {
    flex: 1 1 100%; /* Chaque bloc prend 100% de la largeur */
    min-width: 100%; /* S'assure que chaque bloc occupe toute la largeur disponible */
  }
}
