/* Sidebar.css */

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding-top: 20px;
  height: 100vh; /* Prend toute la hauteur */
  position: fixed; /* Reste fixe */
}

.sidebar-header h3 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
  text-align: center;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar-menu li a:hover {
  background-color: #575757;
}
