/* Sidebar.css */

.sidebar {
    position: fixed; /* Fixe la sidebar à gauche */
    top: 0;
    left: 0;
    width: 13%;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    background-color: #1a202c; /* Couleur de fond sombre */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }
  
  .sidebar-header {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin: 10px 0;
  }
  
  .sidebar-menu a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: background 0.3s ease;
  }
  
  .sidebar-menu a .icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  /* Style actif */
  .sidebar-menu a.active-link,
  .sidebar-menu a:hover {
    background-color: #4a5568; /* Couleur pour lien actif */
  }
  
  /* Footer de la sidebar */
  .sidebar-footer {
    margin-top: auto;
    text-align: center;
  }
  
  .upgrade-btn {
    background-color: #48bb78; /* Vert pour "Upgrade" */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .upgrade-btn:hover {
    background-color: #38a169; /* Vert plus foncé */
  }

  main {
    margin-left: 300px; /* Décale le contenu principal à droite de la sidebar */
    padding: 20px;
  }
  

  .language-switcher-container {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
  }
  
  .language-switcher {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  
  .language-switcher button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .language-switcher button:hover {
    background-color: #0056b3;
  }