/* StatsCards.css */
.stats-cards {
  display: grid; /* Utilisation de Grid pour contrôler la disposition */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivité avec largeur minimale */
  gap: 20px; /* Espacement entre les cartes */
  margin-bottom: 30px;
}

.stat-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
}
