/* TeacherTable.css */

.teacher-table {
  margin-top: 40px;
  padding: 20px;
}

.teacher-table table {
  width: 100%;
  border-collapse: collapse;
}

.teacher-table th, .teacher-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

.teacher-table th {
  background-color: #f4f4f4;
}

.teacher-table td {
  text-align: center;
  background-color: white;
}

.teacher-table .done {
  color: green;
}

.teacher-table .todo {
  color: red;
}

.teacher-table button {
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.teacher-table button:hover {
  background-color: #ddd;
}
